:root {
    --color1: #140f07;
    --cor-header: #1f2c4f;
    --cor-footer: #5560aa;
    --cor-main: #9e9cf9;
    --color2: #ffe6f4;

    --colorDiscoPlayerUm: #fc0000;
    --colorDiscoPlayerDois: #000000;
    --backgWhite : #ffffff;
    --backBlack : #000000;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

header {
    width: 100%;
    height: 6%;
    background-color: var(--cor-header);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    line-height: 6vh;
    font-size: 2rem;
    color: var(--cor-main);
}
/* HEADER */
/* MAIN */

main {
    width: 80%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

#tabela {
    display: flex;
    /* margin: 0 auto; */
    width: 224px;
    height: 192px;
    
}

.colunas {
    width: calc(100%/7);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.celulas {
    width: 100%;
    height: calc(100%/6);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vitoria {
    margin-top: 4%;
}

.hidden {
    display: none;
}
.disco{
    width: 90%;
    height: 90%;
    border-radius: 150px;
    animation: moveDown 1s;
}
.jogador1{
    background-color: var(--colorDiscoPlayerUm);
}
.jogador2{
    background-color: var(--colorDiscoPlayerDois);
}
.vibracao{
    animation: vibracao 0.1s;
    animation-iteration-count: 3;
}
.fade{
    animation: fade 0.5s ease-in-out;
}
.fadeIn{
    animation: fadeIn 0.5s ease-in-out;
}
.regras{
    margin: 0 auto;
    width: 80vw;
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #000;
    position: absolute;
    background-color: var(--backgWhite);
    animation: moveModal linear 0.7s;
    top: 60px;

}
.esconder{
    background-color: var(--backgWhite);
    /* opacity: 0.7; */

}
.regras__title{
    font-size: 1.2rem;
    font-weight: bold;
}
.regras__conteudo{

}
.regras__lista{
    padding: 5px;
}
.regras__item{
    padding: 5px;
}
.regras__p{
    padding: 5px 0px 10px 0px;
}
.btn{
    padding: 0px 10px 0px 10px;
}

/* MAIN */

/* FOOTER */

footer {
    width: 100%;
    height: 6%;
    background-color: var(--cor-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--cor-main);
}

/* FOOTER */

/* MEDIA */

@media screen and (min-width:321px) and (max-width:720px){
    #tabela {
        width: 288px;
        height: 246.86px;
    }
}

@media screen and (min-width:721px) and (max-width:1024px){
    #tabela {
        width: 500px;
        height: 428.57px;
    }
    
}

@media screen and (min-width:1025px){
    main {
        width: 50%;
    }

    #tabela {
        width: 700px;
        height: 600px;
    }
    
    footer {
        font-size: 2rem;
    }
}

/* MEDIA */

/* ANIMATIONS */

@keyframes moveDown {
    to{
        margin-bottom: 0px;
    }
    from{
        margin-bottom: 900px;
    }    
}
@keyframes moveModal {
    to{
        top: 60px;
    }
    from{
        top: -300px;
    }
}
@keyframes vibracao {
    0% {
        margin-left: 0;
    }
    25%{
        margin-left: 5px;
    }
    50%{
        margin-left: 0;
    }
    75%{
        margin-left: -5px;
    }
    100%{
        margin-left: 0;
    }
}
@keyframes fade {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* ANIMATIONS */